<!DOCTYPE html>
<html lang="en">
<head>

    <title>IVR DASHBOARD</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='IVR.css') }}">

<body>
 <div class="w3-panel w3-black w3-border">

     <a><b>JIO TOPS ASSISTED CARE</b></a>


        <div>
        <button href="#about" class="w3-btn  w3-green w3-round-large">CISCO</button>
        <button href="#team" class="w3-btn w3-green w3-round-large"><i class="fa fa-user"></i> GENESYS</button>
        <button href="#work" class="w3-btn w3-green w3-round-large"><i class="fa fa-th"></i>ONECLCK</button>
        <button href="#pricing" class="w3-btn w3-green w3-round-large"><i class="fa fa-usd"></i> NICE</button>
        <button href="#contact" class="w3-btn w3-green w3-round-large"><i class="fa fa-envelope"></i> NOVELVOX</button>
        </div>

 </div>

 <div class="container w3-margin">
       <div class="w3-row">
         <div class="w3-col l3">
             <h1>DAILY COUNT</h1>
             <a>IVR ACD OFFERED TRANSFERRED COUNT FOR {{previous_date}}  </a>
             {% for table in tables%}
             {{ table|safe }}
             {% endfor %}
         </div>
         <div class="w3-col l3">
             <h1>DAILY COUNT</h1>
             <a>IVR ACD OFFERED TRANSFERRED COUNT FOR {{previous_date}}  </a>
             {% for table in tables%}
             {{ table|safe }}
             {% endfor %}
         </div>

         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>



  </div>
</div>
 <div class="container w3-margin">
       <div class="w3-row">
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>



  </div>
</div>
 <div class="container w3-margin">
       <div class="w3-row">
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>
         <div class="w3-col l3">
             <table class="w3-table-all" style="width:300px">
               <tr class="w3-light-blue">
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Points</th>
               </tr>
               <tr>
                 <td>manivel</td>
                 <td>chettyar</td>
                 <td>50</td>
               </tr>
               <tr>
                <td>pooja</td>
                <td>nayak</td>
                <td>94</td>
               </tr>
               <tr>
               <td>vinay</td>
               <td>jain</td>
               <td>67</td>
               </tr>
             </table>
         </div>



  </div>
</div>





</body>
</html>